.about {
  display: block;
  background-color: #bad0e4;
  margin: 0 auto;
  max-width: 100%;
}
:root {
  --primary-color: #6da2f3;
  --secondary-color: #f5f2fe;
  --accent-color: #e7dea6;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
#name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
}
h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.7;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #e7dea6;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  text-decoration: none;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}
.about-paragraphs p {
  margin: 10px;
}
.apps {
  padding: 20px;
  border-radius: 16px;
  line-height: 1.5;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 26px;
  text-decoration: none;
}
strong {
  font-size: 26px;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #e7dea6;
}
.apps {
  color: black;
  border: 1px solid var(--primary-color);
  background: none;
}
i {
  padding: 10px;
  font-size: 20px;
  color: var(--primary-color);
}
#app {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 85px;
}
p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.7;
}
#welcome {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
@media (max-width: 900px) {
  #welcome {
    padding: 20px 20px;
  }
  #name {
    font-size: 44px;
    line-height: 2;
  }

  p {
    font-size: 24px;
  }
}
